$aesir_white: #fefefe;
$aesir_black: #353A47;
$aesir_primary: #414288;
$aesir_secondary: #5FB49C;
$aesir_tertiary: #682D63;

$aesir_lightgrey: #DDD;
$aesir_mediumgrey: #BBB;
$aesir_darkgrey: #999;


@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Alegreya|Consolata');
$aesir_sans: 'Alegreya Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$aesir_serif: 'Alegreya Serif', 'Times New Roman', serif;
$aesir_code: 'Consolata', monospace;

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
$aesir_brand: 'Alegreya Sans SC', sans-serif;
