$fenrir_white: #FAFEFB;
$fenrir_black: #353A47;
$fenrir_primary: #84B082;
$fenrir_secondary: #885A5A;
$fenrir_tertiary: #B96F6F;

$fenrir_lightgrey: #F8FBFE;
$fenrir_mediumgrey: #E0EAF8;
$fenrir_darkgrey: #BAD0EF;


@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Sans|Droid+Serif');
$fenrir_sans: 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$fenrir_serif: 'Droid Serif', 'Times New Roman', serif;
$fenrir_code: 'Droid Sans Mono', monospace;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
$fenrir_brand: 'Playfair Display', serif;
