$sleipnir_white: rgb(250, 250, 250);
$sleipnir_black: rgb(50, 50, 50);
$sleipnir_primary: rgb(30, 60, 90);
$sleipnir_secondary: rgb(60, 30, 90);
$sleipnir_tertiary: rgb(120, 30, 30);

$sleipnir_lightgrey: rgb(230, 230, 230);
$sleipnir_mediumgrey: rgb(200, 200, 200);
$sleipnir_darkgrey: rgb(160, 160, 160);


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro');
$sleipnir_sans: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$sleipnir_serif: 'Source Serif Pro', 'Times New Roman', serif;
$sleipnir_code: 'Source Code Pro', monospace;

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,700,900');
$sleipnir_brand: 'Alegreya SC', serif;
