.card {
  background: $white;
  padding: 8px;
  border: 2px solid $mediumgrey;
  border-radius: 6px;
  box-shadow: 0 2px 0 $mediumgrey;
}

.card-head{

}

.card-body{
  text-align: left;
  margin: 12px;

}