.card-collection {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

}

.card {
  width: auto;
  padding: 10px;
  min-height: 560px;
  margin: 10px;

  background: $white;
  border: 1px solid $mediumgrey;
  border-radius: 4px;

  &.inverted{
    background: $primary;
      .card-head{
        border-bottom: 1px solid $white;
      }
    .card-headline,
    .card-body-text{
      color: white;
    }
  }

  &.primary{
    color: $primary;
    border: 1px solid $primary;
      .card-head{
        border-bottom: 1px solid $primary;
      }
      .card-headline,
      .card-body-text{
        color: $primary;
    }
  }

}

.card-head{
  border-bottom: 1px solid $mediumgrey;
}

.card-body{
  text-align: left;
  margin: 12px;

}