section{
  padding: 20px 0px;
  min-height: 300px;

  &.primary-gradient{
    background: linear-gradient($secondary, $primary);
    text-align: center;
    color: $white;
    h1{
      color: $white;
    }
  }

  &.grey-gradient{
    background: linear-gradient($lightgrey, $mediumgrey);
    text-align: center;
  }


}

