section{
  padding: 40px;
  min-height: 300px;

  &.primary{
    background: $primary;
    text-align: center;
    color: $white;
  }

  &.primary-gradient{
    background: linear-gradient($secondary, $primary);
    text-align: center;
    color: $white;
  }

  &.grey-gradient{
    background: linear-gradient($lightgrey, $mediumgrey);
    text-align: center;
  }

  .section-head{
    margin: 40px;
    border-bottom: 1px solid $white;
  }

  .section-body{
    padding: 0 40px;
  }

}

