$white: rgb(250,250,250);
$black: rgb(50,50,50);
$primary: rgb(30,60,90);
$secondary: rgb(60,30,90);
$tertiary: rgb(120,30,30);


@import url('https://fonts.googleapis.com/css?family=Nunito');
$sans: 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,700,900');
$brand: 'Alegreya SC', serif;