@import 'themes/fenrir';
@import 'themes/sleipnir';

$white: $sleipnir_white;
$black: $sleipnir_black;
$primary: $sleipnir_primary;
$secondary: $sleipnir_secondary;
$tertiary: $sleipnir_tertiary;

$lightgrey: $sleipnir_lightgrey;
$mediumgrey: $sleipnir_mediumgrey;
$darkgrey: $sleipnir_darkgrey;


$sans: $sleipnir_sans;
$serif: $sleipnir_serif;
$code: $sleipnir_code;

$brand: $sleipnir_brand;
