@import 'variables';
@import 'grid';
@import 'nav';
@import 'button';
@import 'cards';
@import 'typography';
@import 'forms';
@import 'sections';

body {
  background: $white;
  font-family: $sans;
  margin: 0;
  padding: 0;
}


.page{
  font-size: 16px;
  line-height: 20px;
}

.page-content{

}

.hero{
  background: $lightgrey;
  margin: 20px 0;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}

a{
  color: $primary;
  text-decoration: none;
  
  &:hover{
    text-decoration: none;
    border-bottom: 1px solid $primary;
  }
}

