@import 'variables';

body {
  background: $white;
  font-family: $sans;
  margin: 0px;
  padding: 0px;
}


h1{
  font-size: 32px;
  color: $black;
  font-weight: 400;
}

.page{
  padding: 20px;
}

.hero{
  margin: 20px;
  padding: 20px;
  background: rgb(220,220,220);
  border-radius: 6px;
}