@import 'variables';
@import 'grid';
@import 'nav';
@import 'button';
@import 'cards';
@import 'typography';
@import 'forms';

body {
  background: $white;
  font-family: $sans;
  margin: 0;
  padding: 0;
}


h1 {
  color: $black;
  font-size: 32px;
  font-weight: 400;
}


.page{
  font-size: 16px;
  line-height: 20px;
}

.page-content{
  padding: 20px;
}

section {
  margin: 60px 0;
}

.hero{
  background: $lightgrey;
  margin: 20px;
  padding: 20px;
  border-radius: 6px;
}

a{
  color: $primary;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    border-bottom: 1px solid $primary;
  }
}

p{
  font-size: 16px;
  line-height: 24px;
  color: $black;
}